<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="/layui/layui.all.js" ></script>
    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body{
            background: url("/pic/avenge.jpg");
        }

        .login-container{
            width:500px;
            height: 200px;
            padding: 20px;
            margin: 0 auto;
            position: relative;
            top: 50%;
            margin-top:-100px;
        }

        .right{
            float:right;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">账号:</label>
                <div class="layui-input-block">
                    <input type="text" lay-verify="required" id="username" name="username" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码:</label>
                <div class="layui-input-block">
                    <input type="password" lay-verify="required" id="password" name="password" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn right" id="loginButton" lay-submit lay-filter="formDemo">登陆</button>
                </div>
            </div>
            <input type="hidden" id="redirectUrl" th:value="${redirectUrl}"/>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <p>账号:scj 密码:123456</p>
                </div>
            </div>
        </form>
    </div>

    <script>
        layui.use('form', function(){
            var form = layui.form;
            var redirectUrl = $('#redirectUrl').val();
            //监听提交
            form.on('submit(formDemo)', function(data){
                $.post("/login",{
                    username:data.field.username,
                    password:data.field.password
                },function (result) {
                    console.log(JSON.stringify(result));
                    if(result.flag==true){
                        window.location.href=redirectUrl;
                    }else{
                        layer.msg(result.message)
                    }
                },"json")
                return false;
            });
        });
    </script>
</body>
</html>