<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
    <p>当前登陆用户</p>
    <p th:text="${username}"></p>
    <p th:text="${phone}"></p>
    <a href="http://sso.scj.com/logout?redirectUrl=http://app1.scj.com">登出</a>
    <input type="button" id="test" value="test" />
</body>
<script>
    $(function () {
        $('#test').click(function () {
            $.get("/test",function(result){
                if(result.flag==true){
                    alert(result.data)
                }else{
                    if(result.code==501){
                        window.location.href="http://sso.scj.com?redirectUrl=http://app1.scj.com"
                    }else{
                        alert(result.message)
                    }
                }
            })
        })
    })
</script>
</html>